/* reset css */
html {
  width: 390px;
}
body {
  font-size: 10px;
  background-color: #f2f2f2;
}
body, h1, h2, h3, h4, h5, h6, p, a, button, ul, li {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
button {
  border: initial;
  background-color: initial;
}
a {
  text-decoration: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
/* /reset css */

/* header */
form {
  height: 48px;
  position: fixed;
}
form input {
  width: 390px;
  height: 48px;
  padding: 13px 0 13px 16px;
  font-size: 18px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
} 

form button img { 
  width: 24px;
  color: #767676;
  position: absolute; 
  top: 12px;
  left: 350px;
}

form button {
  cursor: pointer;
}
/* /header */

/* main */

/* common */

/* /common */

/* pop-class */
#pop-class {
  padding: 67px 0 30px 16px;
  box-sizing: border-box;
}
#pop-class h2,
#new-class h2 {
  font-size: 14px;
  margin-bottom: 16px;
}
.mini-class {
  width: 140px;
  height: 160px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
  border-radius: 5px;
  background-color: #fff;
}
.mini-class img {
  width: 140px;
  aspect-ratio: 140 / 90;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.mini-class p {
  font-size: 12px;
  color: #767676;
  margin: 6px 0 7px 4px;
}

.mini-class h3,
.large-class h3 {
  font-size: 14px;
  font-weight: normal;
  margin-left: 4px;
  color: #000;
}

.pop-class-list {
  padding: 0 0 10px 0;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
/* /pop-class */

/* new-class */
#new-class {
  padding: 0 10px 80px 10px;
  box-sizing: border-box;
}

.large-class {
  width: 180px;
  height: 200px;  
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
  border-radius: 5px;
  background-color: #fff;
}
.large-class img {
  width: 180px;
  aspect-ratio: 180 / 121;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.large-class p {
  font-size: 12px;
  color: #767676;
  margin: 6px 0 7px 4px;
}

.new-class-list{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

/* /new-class */
/* /main */

/* footer */
/* 수정할 필요 있음 */
footer {
  width: 390px;
  height: 60px;
  background-color: #fff;
  padding: 6px;
  position: fixed;
  bottom: 0;
}

.bottom-nav {
  display: flex;
  box-sizing: border-box;
}

.bottom-nav li {
  position: relative;
}

.bottom-nav a {
  font-size: 10px;
  display: inline-block;
  width: calc((390px - 12px) / 5);
  height: 48px;
  line-height: 80px;
  text-align: center;
  box-sizing: border-box;
  color: #767676;
}

.bottom-nav li::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  bottom: 16px;
  left: 34%;
}

.home::before {
  background: url(../../assets/img/icon-home.svg)no-repeat;
}

.class::before {
  background: url(../../assets/img/icon-class-fill.svg)no-repeat;
}

.chat::before {
  background: url(../../assets/img/icon-chat.svg);
}

.edit::before {
  background: url(../../assets/img/icon-edit.svg);
}

.user::before {
  background: url(../../assets/img/icon-user.svg);
}
/* /footer */