.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.wrap {
  width: 390px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button {
  cursor: pointer;
}

.More-BackNav,
.Back-ButtonNav {
  display: flex;

  height: 48px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

.More-BackNav .more-icon {
  padding-right: 12px;
}

/*main*/
.chat-list {
  background-color: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 20px;
}
.button-wrap {
  position: absolute;
  top: 2px;
  right: 0;
  width: 17.5px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trash-button-icon {
  width: 100%;
  height: auto;
}

.chat {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.profile-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.chat-info {
  flex-grow: 1;
}

.class-name {
  font-size: 14px;
  font-weight: 400;
  padding-left: 12px;
}

.last-message {
  font-size: 14px;
  margin: 0;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  width: 220px;
  text-overflow: ellipsis;
  padding-top: 4px;
  padding-left: 12px;
}

.timestamp {
  padding-top: 26px;
  font-size: 10px;
  color: #dbdbdb;
}

h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #036635;
  position: absolute;
  top: 0;
  left: 0;
}

h2.class-name.offline::before {
  content: "";
  display: none;
}
