.Back-ButtonNav {
  display: flex;
  width: 390px;
  height: 48px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

button {
  cursor: pointer;
}

.More-BackNav,
.Back-ButtonNav {
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  cursor: pointer;
}

.Ms-button {
  width: 90px;
  height: 32px;
  margin-right: 16px;
  border-radius: 32px;
  background-color: #036635;
  text-align: center;
  color: #ffffff;
}

.Ms-button:disabled {
  width: 90px;
  height: 32px;
  margin-right: 16px;
  border-radius: 32px;
  /* background-color: #036635; */
  background-color: #b1d4c3;
  text-align: center;
  color: #ffffff;
  pointer-events: none;
}

/* chat     */

.text-input {
  width: 390px;
  height: 844px;
  padding-left: 71px;
  padding-top: 32px;
  font-size: 14px;
  border-radius: 1px solid #c4c4c4;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

.text-input:focus {
  outline: none;
}

/* article {
    position: relative;
  } */
.profile-container {
  position: relative;
}

.profile-img {
  position: absolute;
  top: 20px;
  left: 16px;
  width: 42px;
  height: 42px;
}

.upload-btn {
  position: absolute;
  top: 828px;
  left: 324px;
}

.product-img {
  width: 304px;
  height: 228px;
  border: 1px solid #ccc;
}
