body {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
  font-family: "SpoqaHanSansNeo-Regular";
}

ol,
ul {
  list-style: none;
}

input {
  all: unset;
}

button {
  all: unset;
}
